<%
  nav = (typeof nav == 'undefined') ? 'main': nav;
  page_path = '/' + current.path.join('/')
  page_path = page_path.replace(/\/index$/, '/').replace(/\/$/, '')
  page_path = (page_path == '') ? '/' : page_path

  is_active = function(url){
    if (url == page_path) { return 'active' }
    else { return '' }
  }
%>

<nav class="<%- nav %> <%- page_path %>">
  <ul>
    <% for (page in navigation[nav]) { %>
      <% url = navigation[nav][page] %>
      <li>
        <a href="<%- url %>" class="<%- is_active(url) %>"><%- page %></a>
      </li>
    <% } %>
  </ul>
</nav>
